@import 'utils/variables';
@import 'utils/mixins';

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0 15px;

  .main__heading {
    @include sizing('margin-top', (320px: 15px, 1920px: 20px));
    @include sizing('margin-bottom', (320px: 5px, 1920px: 10px));
    @include sizing('font-size', (320px: 32px, 1920px: 50px));

    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 1;
    font-weight: 300;
  }

  .main__subheading {
    @include sizing('margin-bottom', (320px: 5px, 1920px: 10px));
    @include sizing('font-size', (320px: 15px, 1920px: 22px));

    text-align: center;
    color: $palette-gray;
  }

  .main__charts {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .main__chart {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 50%;
    min-height: 200px;

    @include tablet-portrait {
      width: 100%;
    }
  }
}