/*=========
  Palette
=========*/
$palette-black: #333;
$palette-gray-dark: #555;
$palette-gray: #777;
$palette-gray-light: #999;

$palette-blue: #1281ca;

/*=========================
  Media Queries variables
=========================*/
$medium-desktop-width: 1600px;
$desktop-width: 1440px;
$small-desktop-width: 1024px;
$tablet-width: 768px;
$small-tablet-width: 600px;