@import 'utils/variables';
@import 'utils/mixins';

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  //temporary
  outline: 2px dashed green;

  .btn {
    @include sizing('width', (320px: 25px, 1920px: 40px));
    @include sizing('height', (320px: 25px, 1920px: 40px));

    margin: 5px;
    padding: 0;
    border: none;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      .btn__icon::before {
        color: $palette-blue;
      }
    }

    .btn__icon::before {
      @include sizing('font-size', (320px: 20px, 1920px: 30px));
    }
  }

  .btn--previous {
    @extend .btn;
  };

  .btn--next {
    @extend .btn;
  }

  .year-select {
    width: 190px;

    .Select-control {
      box-shadow: none;
    }
  }
}