@import './utils/variables';
@import './utils/mixins';

/*=============
  Base styles
=============*/

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  color: $palette-black;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3,
h4, h5, h6 {
  cursor: default;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fa,
.fa::before,
.fa::after {
  font-family: 'FontAwesome';
}

.app {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}